body{
    font-family:  Ubuntu,  sans-serif
}
.Landing{
    margin: 100px 350px;
    border-radius: 10px;
    
}
.LandingBg{
    background: url("./images/bg-sidebar-desktop.svg");
    height: 550px!important;
    border-radius: 10px;
    width: 80%!important
}
    
.pageBody{
    display: grid;
    justify-content: center;
    /* align-items: center; */
    width:cover;
    margin-top:40px;
   
}
.actionButton{
    display: flex;
}
.actionButton1{
    display: none;

}
@media only screen  and (max-width: 1300px){
    .Landing{
        margin: 100px 200px;
    }
}
@media only screen  and (max-width: 1300px){
    .Landing{
        margin: 100px 100px;
    }
}
@media only screen  and (max-width: 768px){
    .Landing{
        margin: 0px 0px;
    }
    .LandingBg{
        background: url("./images/bg-sidebar-mobile.svg");
        height: 170px!important;
        border-radius: 0px;
        width: 100%!important;
       
    }
    .pageBody{
        display: flex;
        justify-content: center;
        align-items: center;
        width:cover;
        place-items: center;
        position:absolute;
        top:200px;
        left:50%;
        width:90%;
        background: white;
        padding: 15px 10px;
        border-radius: 10px;
        transform: translate(-50%, -130px);
        box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.15);
       
    }
    /* .active{
        position: relative;
    } */
    .actionButton1{
        position:fixed;
       display: flex;
       justify-content: space-between;
        background: white;
        padding:  22px 30px;
        bottom:0%;
        width: 100%
        ;

        
    }
    .actionButton{
        display: none;
    }
}
@media only screen  and (max-width: 480px){
    .pageBody{width: 94%;}
}