body{
    font-family:  Ubuntu,  sans-serif
}
.Landing{
    margin: 100px 350px;
    border-radius: 10px;
    
}
.LandingBg{
    background: url("./images/bg-sidebar-desktop.svg");
    height: cover;
    border-radius: 10px;
}

@media only screen  and (max-width: 1300px){
    .Landing{
        margin: 100px 200px;
    }
}
@media only screen  and (max-width: 1300px){
    .Landing{
        margin: 100px 100px;
    }
}